In [3]:
import pandas as pd

In [5]:
x = pd.Series([34, 12, 23, 45])
print(x)

0    34
1    12
2    23
3    45
dtype: int64

In [7]:
x.dtype

dtype('int64')

In [9]:
data = {'month': ['Jan', 'Feb', 'Mar', 'Apr'],
        'temp': [-5, 2, 3, 5],
         'below_zero': [True, False, False, False],
           'year': 2020}
df = pd.DataFrame(data)
print(df)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

In [12]:
df = pd.read_csv("2024-2025-Data_Librarian_Rabea_Wuttke/Modul_3/data/Library_Usage.csv", low_memory=False, na_values="Null")

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450359 entries, 0 to 450358
Data columns (total 11 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Patron Type Definition        450359 non-null  object
 1   Total Checkouts               450359 non-null  int64
 2   Total Renewals                450359 non-null  int64
 3   Age Range                     449849 non-null  object
 4   Home Library Definition       450329 non-null  object
 5   Circulation Active Month      410042 non-null  object
 6   Circulation Active Year       410042 non-null  float64
 7   Notice Preference Definition  447044 non-null  object
 8   Provided Email Address        450359 non-null  bool
 9   Year Patron Registered        450359 non-null  int64
 10  Within San Francisco County   450138 non-null  object
dtypes: bool(1), float64(1), int64(3), object(6)
memory usage: 34.8+ MB

In [16]:
# 1. 11 Merkmale
# 2. Stichprobengröße: 450359
# 3. Merkmalsträger/statistische Einheit: Bibliotheksnutzer*in
# 4. 2016 - 2024 (laut website)

In [19]:
x = df['Total Renewals']
df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(x)
print(subset)

0         0
1         0
2         0
3         1
4         0
         ..
450354    0
450355    0
450356    0
450357    0
450358    0
Name: Total Renewals, Length: 450359, dtype: int64
        Total Renewals  Total Checkouts
0                    0                5
1                    0                0
2                    0                0
3                    1                1
4                    0                0
...                ...              ...
450354               0                0
450355               0                0
450356               0                0
450357               0                0
450358               0                0

[450359 rows x 2 columns]

In [21]:
import numpy as np

In [23]:
df['is_adult'] = df['Patron Type Definition'] == 'Adult'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)

In [25]:
pd.to_numeric(df['Circulation Active Year'], errors='coerce')

0         2022.0
1         2023.0
2         2024.0
3         2022.0
4         2024.0
           ...
450354       NaN
450355    2022.0
450356    2022.0
450357    2022.0
450358    2023.0
Name: Circulation Active Year, Length: 450359, dtype: float64

In [27]:
df['Circulation Active Month'] = pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%b"
)

In [29]:
df['Circulation Active Month'] = df['Circulation Active Month'].dt.month

In [31]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [33]:
df['Membership Duration'] = df['Membership Duration'].fillna(0)

In [36]:
filter3 = (df['Age Range'] == "60 to 64 years") & (df['Circulation Active Year'] == 2016)

In [38]:
len(df.loc[filter3])

16

In [41]:
(df["Membership Duration"] == 0).mean()

0.08952191473913033

In [43]:
print(len(df[df['Membership Duration'] == 0])/len(df))

0.08952191473913033

In [46]:
filter_0 = (df["Membership Duration"] == 0)
df.loc[filter_0]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,is_adult,log_renewals,Membership Duration
14,Teacher Card,0,0,0 to 9 years,Main,NaN,NaN,Email,True,2023,False,False,0.0,0.0
17,Teacher Card,0,0,45 to 54 years,Main,NaN,NaN,Email,True,2020,False,False,0.0,0.0
36,Senior,0,0,65 to 74 years,Main,NaN,NaN,Email,True,2023,False,False,0.0,0.0
93,Senior,0,0,65 to 74 years,Main,NaN,NaN,Email,True,2023,False,False,0.0,0.0
127,Senior,0,0,65 to 74 years,Main,NaN,NaN,Email,True,2018,False,False,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450321,Digital Access Card,0,0,60 to 64 years,Glen Park,NaN,NaN,Email,False,2023,NaN,False,0.0,0.0
450324,Digital Access Card,0,0,45 to 54 years,Glen Park,NaN,NaN,Email,False,2023,NaN,False,0.0,0.0
450339,Digital Access Card,0,0,75 years and over,Marina,NaN,NaN,Email,True,2022,NaN,False,0.0,0.0
450340,Digital Access Card,0,0,45 to 54 years,Marina,NaN,NaN,Email,True,2022,NaN,False,0.0,0.0
450354,Digital Access Card,0,0,35 to 44 years,Ingleside,NaN,NaN,Email,False,2023,NaN,False,0.0,0.0

In [49]:
filter_richm = (df['Home Library Definition'] == "Richmond")
df.loc[filter_richm].info()

<class 'pandas.core.frame.DataFrame'>
Index: 21433 entries, 3 to 450291
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patron Type Definition        21433 non-null  object
 1   Total Checkouts               21433 non-null  int64
 2   Total Renewals                21433 non-null  int64
 3   Age Range                     21422 non-null  object
 4   Home Library Definition       21433 non-null  object
 5   Circulation Active Month      20676 non-null  float64
 6   Circulation Active Year       20676 non-null  float64
 7   Notice Preference Definition  21386 non-null  object
 8   Provided Email Address        21433 non-null  bool
 9   Year Patron Registered        21433 non-null  int64
 10  Within San Francisco County   21427 non-null  object
 11  is_adult                      21433 non-null  bool
 12  log_renewals                  21433 non-null  float64
 13  Membership Duration           21433 non-null  float64
dtypes: bool(2), float64(4), int64(3), object(5)
memory usage: 2.2+ MB

In [52]:
filter_20000 = (df['Total Checkouts'] >= 20000)
df.loc[filter_20000].info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, 60282 to 293994
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Patron Type Definition        7 non-null      object
 1   Total Checkouts               7 non-null      int64
 2   Total Renewals                7 non-null      int64
 3   Age Range                     7 non-null      object
 4   Home Library Definition       7 non-null      object
 5   Circulation Active Month      7 non-null      float64
 6   Circulation Active Year       7 non-null      float64
 7   Notice Preference Definition  7 non-null      object
 8   Provided Email Address        7 non-null      bool
 9   Year Patron Registered        7 non-null      int64
 10  Within San Francisco County   7 non-null      object
 11  is_adult                      7 non-null      bool
 12  log_renewals                  7 non-null      float64
 13  Membership Duration           7 non-null      float64
dtypes: bool(2), float64(4), int64(3), object(5)
memory usage: 742.0+ bytes

In [55]:
df["Age Range"].unique()

array(['75 years and over', '45 to 54 years', '55 to 59 years',
       '20 to 24 years', '65 to 74 years', '10 to 19 years',
       '25 to 34 years', '60 to 64 years', '35 to 44 years',
       '0 to 9 years', nan], dtype=object)

In [57]:
filter_kids = (df["Age Range"] == '0 to 9 years')

In [59]:
df.loc[filter_kids]

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,is_adult,log_renewals,Membership Duration
14,Teacher Card,0,0,0 to 9 years,Main,NaN,NaN,Email,True,2023,False,False,0.000000,0.0
1067,Adult,0,0,0 to 9 years,Richmond,12.0,2022.0,Phone,False,2022,False,True,0.000000,12.0
1487,Juvenile,0,0,0 to 9 years,Main,NaN,NaN,Email,True,2020,False,False,0.000000,0.0
1488,Juvenile,0,0,0 to 9 years,Main,NaN,NaN,Email,True,2020,False,False,0.000000,0.0
1491,Juvenile,0,0,0 to 9 years,Main,6.0,2023.0,Email,True,2017,False,False,0.000000,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450241,Juvenile,0,0,0 to 9 years,Bernal Heights,NaN,NaN,Email,True,2022,NaN,False,0.000000,0.0
450244,Juvenile,2,2,0 to 9 years,Bayview,10.0,2023.0,Email,False,2023,NaN,False,1.098612,10.0
450245,Juvenile,0,0,0 to 9 years,Bayview,NaN,NaN,Email,False,2023,NaN,False,0.000000,0.0
450246,Juvenile,2,2,0 to 9 years,Bayview,10.0,2023.0,Email,False,2023,NaN,False,1.098612,10.0
450247,Juvenile,11,15,0 to 9 years,Bayview,3.0,2022.0,Email,True,2022,NaN,False,2.772589,3.0

In [62]:
print(len(df[df['Age Range'].isna()]))

510

In [65]:
df.head(100)

,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Definition,Provided Email Address,Year Patron Registered,Within San Francisco County,is_adult,log_renewals,Membership Duration
0,Senior,5,0,75 years and over,Main,11.0,2022.0,Email,True,2015,False,False,0.000000,95.0
1,Adult,0,0,45 to 54 years,Main,7.0,2023.0,Email,True,2019,False,True,0.000000,55.0
2,Adult,0,0,55 to 59 years,Western Addition,3.0,2024.0,Email,True,2022,False,True,0.000000,27.0
3,Welcome,1,1,20 to 24 years,Richmond,8.0,2022.0,Email,True,2022,False,False,0.693147,8.0
4,Senior,0,0,65 to 74 years,Sunset,3.0,2024.0,Print,False,2023,False,False,0.000000,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Senior,81,37,75 years and over,Main,6.0,2023.0,Email,True,2003,False,False,3.637586,246.0
96,Senior,0,0,65 to 74 years,Main,10.0,2023.0,NaN,False,2022,False,False,0.000000,22.0
97,Senior,0,0,65 to 74 years,Main,3.0,2024.0,Email,True,2019,False,False,0.000000,63.0
98,Senior,0,0,65 to 74 years,Main,3.0,2024.0,Email,True,2023,False,False,0.000000,15.0
99,Senior,1,0,75 years and over,Main,3.0,2020.0,Email,True,2015,False,False,0.000000,63.0

In [67]:
df.shape

(450359, 14)