In [173]:
import pandas as pd

In [189]:
df_all = pd.read_json("search_all.json")
#df_all

In [190]:
# NaN-Autoren und Seitenzahlen entfernen

df_all = df_all.loc[df_all["author"].isnull() == False]
df_all = df_all.loc[df_all["pages"].isnull() == False]

In [191]:
# Dubletten entfernen

df_all = df_all.drop_duplicates(subset = ["label", "year"], keep = "first")

In [192]:
df_all["year"].unique()

array(['2003', '2014', '2017', '2020', '2018', '1972', '2006', '2015',
       '1994', '2019', '2012', '2009', '2013', '2016', '1997', '2010',
       '2001', '2004', '2024', '1998', '2011', '2008', '2022', '1999',
       '2005', '1991', '2000', '1992', '1990', '2023', '2007', '1995',
       '2021', '2002', '1996', '1978', '1967', '1986', '1983-84', '1993',
       '1981', '1984', '1982', '1979', '1985', '1989', '{2004}', '1980',
       '1983', '1988', '1987', '1961'], dtype=object)

In [193]:
# Erscheinungsjahr bereinigen
# zusätzliche Spalte hinzugfügen, die anzeigt, ob die Spalte Year einen korrekten Eintrag hat

df_all["year_correct"] = df_all.apply(lambda row: row.year.isdigit(), axis=1)

# "falsche" Einträge anzeigen

df_all.loc[df_all.year_correct == False]

,label,author,year,editor,pages,language,type,search term,year_correct
785,"Ernst Jünger, Bertolt Brecht und der 'Habitus'...",[Helmut Lethen],1983-84,None,273-289,None,Publication,Berthold Brecht,False
1049,Where is the value added in the cluster approa...,"[P Benneworth, N Henry]",{2004},None,1011-1023,English,Publication,Michael Ende,False

In [194]:
# "korrekte" Einträge behalten

df_all = df_all.loc[df_all.year_correct == True]

In [195]:
# Spalte "Year number "hinzufügen, die das Erscheinungsjahr als integer angibt

df_all["year_number"] = df_all["year"].astype(int)

In [196]:
df_all.pages

9            555-559
10              1-10
11           149-159
12          255--268
13         5746-5758
            ...
1921    1197 -- 1207
1928           88-90
1931          107110
1934           39-48
1940          348 S.
Name: pages, Length: 1292, dtype: object

In [197]:
# merkwürdig hohe Seitenzahl löschen

df_all = df_all.loc[df_all.pages != "107110"]

In [198]:
# Spalten löschen und umbenennen

df_all_clean = df_all.drop(columns=["year", "year_correct"])
df_all_clean = df_all_clean.rename(columns={"label": "title", "author": "authors", "editor": "editors", "year_number": "year"})

In [199]:
#df_all_clean

In [200]:
# als json abspeichern

df_all_clean.to_json("search_all_clean.json", orient="records")

In [ ]:
# analog zu der hohen Seitenzahl müsste sich auch die falsche Jahreszahl aus dem Tutorial löschen lassen

df_bibsonomy_selection.loc[df_bibsonomy_selection.year_number !=19971998]